<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="UTF-8">
    <title>My Java Template</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<h1>Member Detail</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${member.getId()}">Member id</td>
        <td th:text="${member.getName()}">Member name</td>
    </tr>
    </tbody>
</table>
<a href="index.html" th:href="@{/members}">back to Index</a>
</body>
</html>
