<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <title>My Java Template</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<div th:if="${error_message}" th:text="${error_message}" th:class="${'alert ' + alertClass}" />

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>User</th>
            <th>Complete</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="todo : ${todos}">
            <td th:text="${todo.getId()}"></td>
            <td th:text="${todo.getTitle()}"></td>
            <td th:text="${todo.getUserId()}"></td>
            <td th:text="${todo.isCompleted()}"></td>
            <td><a th:href="@{/todos/{id}(id=${todo.getId()})}">Show page</a> </td>
        </tr>
    </tbody>
</table>
<a href="new.html" th:href="@{/todos/new}">New todo</a>
</body>
</html>
