<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <title>My Java Template</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<form th:action="@{/todo}" th:object="${todo}" method="post">
    <div>
        <label for="title">Enter todo title</label>
        <input type="text" name="title" id="title" th:field="*{title}" required>
    </div>
    <div>
        <label for="body">Enter todo body</label>
        <textarea type="text" name="body" id="body" th:field="*{body}" required></textarea>
    </div>
    <div>
        <label for="user">Enter user</label>
        <select id="user">
            <option th:value="0"></option>
            <option th:each="item : ${userMap}" th:value="${item.value}" th:text="${item.key}"></option>
        </select>
    </div>
    <div>
        <label for="completed">Enter completed</label>
        <input type="checkbox" name="completed" id="completed" th:field="*{completed}" required></input>
    </div>
    <button type="submit">Submit</button>
</form>
</body>
</html>
