<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <springProfile name="!production">
        <include resource="logback-file.xml" />
        <include resource="logback-json-console.xml" />
        <root level="INFO">
            <appender-ref ref="ASYNC_APPLICATION_LOG_FILE" />
            <appender-ref ref="JSON_CONSOLE" />
        </root>
    </springProfile>
</configuration>
