<included>
    <!-- ファイルに出力するロガー -->
    <!-- ファイルの出力先はpropertiesファイルないのlogging.file.path、ファイル名はloggig.file.nameにて設定する -->
    <property name="APPLICATION_LOG_FILENAME" value="${LOG_PATH:-logs}/${LOG_FILE:-app}.log" />
    <appender name="APPLICATION_LOG_FILE" class="ch.qos.logback.core.FileAppender">
        <file>${APPLICATION_LOG_FILENAME}</file>
        <encoder>
            <charset>UTF-8</charset>
            <append>true</append>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%t]%X{request_thread} %logger{45}:%L - %msg %n</pattern>
        </encoder>
    </appender>

    <!-- 非同期でログをファイル出力する -->
    <appender name="ASYNC_APPLICATION_LOG_FILE" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="APPLICATION_LOG_FILE" />
    </appender>
</included>
